header {
    background-color: antiquewhite;
}

section {
    background-color: aqua;
}

aside {
    background-color: aquamarine;
}

nav a:hover {
    color: greenyellow;
}

.color {
    color: pink;
}

.odd {
    color: brown;
}

article:nth-of-type(2n) h2::before {
    content: "*";
}