
/* Norint stumditi elementus ir prikabinti prie kito konteinerio 
prie kurio nori prikabinti reikia nurodyti "position: relative" 
o kuriuos elementus judinti nori turi nurodyti "position: absolute;" 

Pagrindas ant kazko noriu kazka p[adati yra realitivi pozicija 
o ta ka noriu uzdeti yra absoliuti pozicija.

Jeigu nori pakeisti pozi
*/

.slider {
    background-image: url(./road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative
}


.container {
    background-color: #0ff9;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 40%

}

div img {
    height: 100px;
    width: 100px;
    border-radius: 50px;

}